@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}
*:focus {
    outline: none;
}

body {
  overflow-y: scroll;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: aqua;
  background: #ff5f6d;
  background: -webkit-linear-gradient(
      to right,
      #b2bec3,
      #dfe6e9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
      to right,
      #b2bec3,
      #dfe6e9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.user-header {
  height: 100px;
  background-color: #fab1a0;
}

h1 {
  line-height: 100px;
}

.user-msg-content {
  height: 640px;
}

input {
  border: none;
  margin: 10px;
  padding: 20px;
  width: 80%;
  border-radius: 20px;
  box-shadow: none;
  cursor: pointer;
  transition: all 0.3s ease;
  position: static;
}
input:focus{
  transform: scale(1.01);
}
input::placeholder {
  padding: 30px;
}

.msg-send-button {
  border: none;
  margin: 10px;
  padding: 20px;
  width: 10%;
  border-radius: 20px;
  box-shadow: none;
  cursor: pointer;
  transition: all 0.3s ease;
  position: static;
}
.msg-send-button:hover{
  transform: scale(1.05);
}
.msg-send-button::placeholder {
  padding: 30px;
}

.user-msg-form {
  display: flex;
}
