@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}
*:focus {
    outline: none;
}
body {
  margin: 0;
  padding: 0;
  align-items: center;
  background-color: aqua;
  background: #ff5f6d;
  background: -webkit-linear-gradient(
      to right,
      #3498db,
      #16a085
  );
  background: linear-gradient(
      to right,
      #3498db,
      #16a085
  );
}

.cab-wrapper {
  margin-left: 0;
  width: 100%;
  height: 825px;
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

.cab-table-container {
  width: 25%;
  height: 825px;

}

.cab-msg-container {
  width: 75%;
  height: 847px;
}
